#fileList {
    list-style-type: none;
    padding: 0;
    counter-reset: file-counter;
  }
  
  #fileList label {
    flex-grow: 1;
    margin: 0;
    font-size: 16px;
    color: #333;
  }
  
  .file-list {
    counter-increment: file-counter;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .file-list::before {
    content: counter(file-counter);
    margin-right: 10px;
    font-weight: bold;
    color: #333;
    width: 20px;
    text-align: center;
  }
  
  .file-list input[type="checkbox"] {
    margin-right: 10px;
  }